---
import Image from "astro/components/Image.astro";
import Van from "../../public/van.webp";
const { titulo } = Astro.props;
---

<section class="pt-32 flex flex-col justify-center items-center gap-24">
  <p
    class="text-center bg-[#d4af3756] rounded-full py-5 px-16 w-80 font-light text-[#D4AF37] text-sm self-center"
  >
    {titulo}
  </p>
</section>
<section class="py-28 px-8 grid grid-cols-1 gap-24 sm:grid-cols-4">
  <slot />
</section>
<style>
  h3 {
    font-family: "DM Serif Display", "Times New Roman", Times, serif;
  }
</style>
