---
import Image from "astro/components/Image.astro";
import Background from "../../public/background.svg";
import Logo from "../../public/logo.png";
---

<Image
  src={Logo}
  alt="logo"
  class="absolute -z-100 w-[1px]"
  loading={"eagerly-loaded"}
/>
<header class="w-full h-full flex flex-col justify-center items-center gap-3">
  <h1 class="text-center text-6xl mb-12 lg:text-8xl">
    Conexión <br />
    <span class="text-[#D4AF37]">exclusiva</span> Tulum
  </h1>
</header>
<style>
  header {
    background: url("https://images.unsplash.com/photo-1548623826-a1aa0a4d8a5b?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
      no-repeat center/cover;
    mask-image: linear-gradient(black 80%, transparent);
  }
  h1 {
    font-family: "DM Serif Display", Georgia, "Times New Roman", Times, serif;
  }
</style>
