---
import Image from "astro/components/Image.astro";
import Logo from "../../public/logo2.png";
---

<nav>
  <Image
    src={Logo}
    alt={"Logotipo de Unicornio Transportaciones"}
    height={"68px"}
    loading={"egearl-loaded"}
  />
  <h3>Unicornio Transportadora</h3>
</nav>

<style>
  nav {
    position: fixed;
    background-color: black;
    width: 100%;
    border-bottom: solid 1px white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  h3 {
    font-family: "DM Serif Display", Georgia, "Times New Roman", Times, serif;
  }
</style>
