---

---

<nav>
  <h3 class="font-bold text-lg">Unicornios Transportación</h3>
</nav>

<style>
  nav {
    position: fixed;
    background-color: black;
    width: 100%;
    border-bottom: solid 1px white;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
</style>
